# Diet Coaching Application Data Analysis

The application let users to track their diet. With the paid model a coach is assigned to monitor paid users progress and make improvement. Within the data-driven organization, data anlysis is critical. Based on analysis result, the team modify their market rebalancing, targeted promotion to obtain or maintain VIP users, and performance analysis. We are going to start it with data processing.

In [1]:
import pandas as pd

## Data Loading

In [2]:
# Here I already knew Purchased At is date column. I loaded it as date from the beginning so we don't have to it afterward.
data = pd.read_csv("data/diet/user.csv", parse_dates = ["Purchased At"]) 
print(data.shape)
data.head()

(10000, 14)

,Access Code,Name,Gender,Age,Height,Initial Weight,Lowest Weight,Target Weight,Product Name,Status,Price,Purchased At,Payment Type,Channel
0,Y9RY2VSI,김승혜,FEMALE,25.0,172.0,66.9,65.8,55.000000,눔 체중감량 프로그램,completed,112500,2017-04-14 19:03:29.976,Recurring,others
1,3GTN3S3B,허승준,MALE,26.0,176.0,70.0,NaN,65.000000,눔 체중감량 프로그램,completed,44780,2017-05-23 20:53:54.368,Recurring,others
2,6B0IG276,이지민,FEMALE,23.0,171.0,98.0,NaN,91.140000,눔 체중감량 프로그램 (천원 체험),completed,132000,2017-08-23 23:39:21.840,Recurring,facebook
3,EMGRU2MO,장설윤,FEMALE,20.0,160.0,70.7,NaN,53.000000,눔 체중감량 프로그램 (천원 체험),completed,112500,2017-08-28 20:18:22.824,Recurring,naver
4,1ELG96TX,서성빈,FEMALE,28.0,165.0,55.5,NaN,51.615002,눔 체중감량 프로그램,completed,44780,2017-05-07 17:50:30.944,Recurring,facebook

## Data Processing

### 1. We are going to start from selecting columns

The chances are we are not going to need all the columns in the data. The columns selected for this one are:

- Access Code(Index column)
- Name
- Gender
- Age
- Height
- Initial Weight
- Lowest Weight
- Target Weight
- Status
- Price
- Purchased At
- Channel

In [3]:
columns = ['Access Code', 'Name', 'Gender', 'Age', 'Height', 'Initial Weight',
       'Lowest Weight', 'Target Weight', 'Status', 'Price',
       'Purchased At', 'Channel']

data = data[columns]
print(data.shape)
data.head()

(10000, 12)

,Access Code,Name,Gender,Age,Height,Initial Weight,Lowest Weight,Target Weight,Status,Price,Purchased At,Channel
0,Y9RY2VSI,김승혜,FEMALE,25.0,172.0,66.9,65.8,55.000000,completed,112500,2017-04-14 19:03:29.976,others
1,3GTN3S3B,허승준,MALE,26.0,176.0,70.0,NaN,65.000000,completed,44780,2017-05-23 20:53:54.368,others
2,6B0IG276,이지민,FEMALE,23.0,171.0,98.0,NaN,91.140000,completed,132000,2017-08-23 23:39:21.840,facebook
3,EMGRU2MO,장설윤,FEMALE,20.0,160.0,70.7,NaN,53.000000,completed,112500,2017-08-28 20:18:22.824,naver
4,1ELG96TX,서성빈,FEMALE,28.0,165.0,55.5,NaN,51.615002,completed,44780,2017-05-07 17:50:30.944,facebook

In [4]:
data = data.set_index("Access Code")

print(data.shape)
data.head()

(10000, 11)

,Name,Gender,Age,Height,Initial Weight,Lowest Weight,Target Weight,Status,Price,Purchased At,Channel
Access Code,,,,,,,,,,,
Y9RY2VSI,김승혜,FEMALE,25.0,172.0,66.9,65.8,55.000000,completed,112500,2017-04-14 19:03:29.976,others
3GTN3S3B,허승준,MALE,26.0,176.0,70.0,NaN,65.000000,completed,44780,2017-05-23 20:53:54.368,others
6B0IG276,이지민,FEMALE,23.0,171.0,98.0,NaN,91.140000,completed,132000,2017-08-23 23:39:21.840,facebook
EMGRU2MO,장설윤,FEMALE,20.0,160.0,70.7,NaN,53.000000,completed,112500,2017-08-28 20:18:22.824,naver
1ELG96TX,서성빈,FEMALE,28.0,165.0,55.5,NaN,51.615002,completed,44780,2017-05-07 17:50:30.944,facebook

### 2. lower case. 

It's just an aesthetic, but we don't need gender to be capitalized. Going to lowercase it.

In [5]:
data['Gender(clean)'] = data['Gender'].replace("MALE", "male").replace("FEMALE", "female")
print(data.shape)
data[["Gender", "Gender(clean)"]].head()

(10000, 12)

             Gender Gender(clean)
Access Code
Y9RY2VSI     FEMALE        female
3GTN3S3B       MALE          male
6B0IG276     FEMALE        female
EMGRU2MO     FEMALE        female
1ELG96TX     FEMALE        female

In [6]:
data["Gender"].value_counts()

FEMALE    8846
MALE      1023
Name: Gender, dtype: int64

We can tell women are way more involved in this application then men.

### 3. Height

In [7]:
data["Height"].describe()

count    9869.000000
mean      163.191495
std        10.199053
min        -1.000000
25%       159.000000
50%       163.000000
75%       167.000000
max       203.200000
Name: Height, dtype: float64

This is weird result because there is no one in the world whose height is -1 cm. The chances are that they probably entered the value when the users left out the information when they created their profiles. So, the mean here is likely distorted. We are going to change the data whose value is -1 cm in Heigh to NaN.

In [8]:
import numpy as np
data["Height(clean)"] = data["Height"]
data.loc[data['Height'] < 0,'Height(clean)'] = np.nan
data.loc[data['Height'] < 0, ["Name", "Height", "Height(clean)"]]

            Name  Height  Height(clean)
Access Code
O4OWMJG7     오세윤    -1.0            NaN
H6EV5AXL     박슬지    -1.0            NaN
O1IAZS7A     고솔윤    -1.0            NaN
5NEQOWHW     손초영    -1.0            NaN
OFAXUNXD     백채우    -1.0            NaN
8WGI0BO4     손슬윤    -1.0            NaN
C3RFRXK4     류서희    -1.0            NaN
TVISCJPR     유수민    -1.0            NaN
5DUJP5CO     배슬은    -1.0            NaN
P2YEDPO0     송설빈    -1.0            NaN
J9NO1247     문소빈    -1.0            NaN
XQ910MF8     오서주    -1.0            NaN
THMCHWBO     박설민    -1.0            NaN
0P0AORKD     서승이    -1.0            NaN
MEPHVEG6     한슬윤    -1.0            NaN
SDF5AWP3     유채유    -1.0            NaN
GB23YUBT     이승아    -1.0            NaN
888S8T3N     한성희    -1.0            NaN
GKRE4UB4     황서윤    -1.0            NaN
6R6CI3VP     권세은    -1.0            NaN
5URKM79N     허승연    -1.0            NaN

In [9]:
data["Height(clean)"].describe()

count    9848.000000
mean      163.541619
std         6.828374
min       106.000000
25%       159.000000
50%       163.000000
75%       167.000000
max       203.200000
Name: Height(clean), dtype: float64

We can see the mean value changed. Further investigate among men and women.

In [10]:
pd.pivot_table(data = data, index = 'Gender', values = 'Height(clean)')

        Height(clean)
Gender
FEMALE     162.116913
MALE       175.831965

In [11]:
data.loc[data["Gender(clean)"]=="male", "Height(clean)"].describe()

count    1023.000000
mean      175.831965
std         5.391423
min       157.000000
25%       172.500000
50%       176.000000
75%       180.000000
max       191.000000
Name: Height(clean), dtype: float64

In [12]:
data.loc[data["Gender(clean)"]=="female", "Height(clean)"].describe()

count    8825.000000
mean      162.116913
std         5.396626
min       106.000000
25%       158.000000
50%       162.000000
75%       165.000000
max       203.200000
Name: Height(clean), dtype: float64

### Age

For the similar reason cleaning Age column.

In [13]:
data["Age"].describe()

count    9869.000000
mean       27.463573
std         7.376082
min         0.000000
25%        23.000000
50%        26.000000
75%        31.000000
max       173.000000
Name: Age, dtype: float64

It's resonable to assume that no infant would join the diet service and no one in the service is age of 173 since no one has been reported to live that long. Going to clean it to nan. Also from the data it's reasonable to think most of the users are in their 20 and 30s looking at the percentile data. We are going to convert data whose age is more than 60 to NaN

In [14]:
data["Age(clean)"] = data["Age"]
data.loc[data["Age(clean)"] <= 0, "Age(clean)"] = np.nan
data.loc[data["Age(clean)"] >= 60, "Age(clean)"] = np.nan

In [15]:
data.loc[(data["Age"] <= 0) | (data["Age"] >= 60),["Name", "Age", "Age(clean)"]].head()

            Name   Age  Age(clean)
Access Code
9PTGVW4B     강서연   0.0         NaN
ACV6D35S     윤우성   0.0         NaN
Y0OK1FWA     김서영  85.0         NaN
WX34HGBL     강채민   0.0         NaN
R9XCS81F     최유신   0.0         NaN

### User Identification

We are going to identify two kind of user groups.

1. Among paid users, who entered their information wrong.
    1. If they entered the information wrong, the coach can't provide right coaching.
2. Among paid users, VIP users
    1. VIP users who have achieved their goals. In diet services, nothing is more effective than showing the before and after result. We can find them and give the promotion to use their story. 

    
The columns we are going to user are as following.

  * ```Name```
  * ```Age(clean)```
  * ```Height(clean)```
  * ```Initial Weight```
  * ```Lowest Weight```
  * ```Target Weight```
  * ```Status```

In [16]:
columns = ['Name', 'Gender(clean)','Age(clean)','Height(clean)','Initial Weight','Lowest Weight','Target Weight','Status','Purchased At', 'Channel']
data = data[columns]
print(data.shape)
data.head()

(10000, 10)

,Name,Gender(clean),Age(clean),Height(clean),Initial Weight,Lowest Weight,Target Weight,Status,Purchased At,Channel
Access Code,,,,,,,,,,
Y9RY2VSI,김승혜,female,25.0,172.0,66.9,65.8,55.000000,completed,2017-04-14 19:03:29.976,others
3GTN3S3B,허승준,male,26.0,176.0,70.0,NaN,65.000000,completed,2017-05-23 20:53:54.368,others
6B0IG276,이지민,female,23.0,171.0,98.0,NaN,91.140000,completed,2017-08-23 23:39:21.840,facebook
EMGRU2MO,장설윤,female,20.0,160.0,70.7,NaN,53.000000,completed,2017-08-28 20:18:22.824,naver
1ELG96TX,서성빈,female,28.0,165.0,55.5,NaN,51.615002,completed,2017-05-07 17:50:30.944,facebook

### 6. Adding new information

BMI is commonly used in masuring body composition even though there are criticism that it simplifies it too much. However for the sake of simplicity, we are going to use this to identifies those two groups that we wanted to identify.

The new columns to be added are:

1. Weight Loss(goal): Initial Weight - Target Weight
2. Weight Loss(current): Initial Weight - Lowest Weight
3. BMI: Weight / (height(meter) / height(meter))

In [17]:
data['Weight Loss(goal)'] = data['Initial Weight'] - data['Target Weight']
data['Weight Loss(current)'] = data['Initial Weight'] - data['Lowest Weight']
data['BMI'] = data['Initial Weight'] /(data['Height(clean)']/100)**2

data[['Name','Weight Loss(goal)', 'Weight Loss(current)', 'BMI']].head()

            Name  Weight Loss(goal)  Weight Loss(current)        BMI
Access Code
Y9RY2VSI     김승혜          11.900000                   1.1  22.613575
3GTN3S3B     허승준           5.000000                   NaN  22.598140
6B0IG276     이지민           6.860000                   NaN  33.514586
EMGRU2MO     장설윤          17.700000                   NaN  27.617187
1ELG96TX     서성빈           3.884998                   NaN  20.385675

### 7. Identifying users who entered invalid data

Since we are only considering about paid users, we are going to exclude unpaid users which we can identify it by Status. Paid users' status is completed

The rules we are going to use to identify them are:
1. NaN in Age, Height, Initial Weight, Lowest Weight, or Target Weight
2. Too low (less than 140cm) or high (more than 200)height
3. Too low (less than 18.5) or too high (30.0) BMI
4. Weight Loss(Goal) negative (usually people want to loss weight not gain)

In [18]:
def find_invalid_user(row):
    statusCompleted = row['Status']
    age = row['Age(clean)']
    height = row['Height(clean)']
    initialWeight = row['Initial Weight']
    lowerstWeight = row['Lowest Weight']
    targetWeight = row['Target Weight']
    bmi = row['BMI']
    weightLossGoal = row['Weight Loss(goal)']
    if statusCompleted != 'completed':
        return False    
    if np.isnan(age) | np.isnan(height) | np.isnan(initialWeight) | np.isnan(lowerstWeight)|np.isnan(targetWeight):
        return True
    if (height > 200) | (height < 140):
        return True
    if np.isnan(bmi) | (bmi > 30) | (bmi < 18.5):
        return True
    if weightLossGoal < 0:
        return True
    return False

In [19]:
# From the following we can easily check if the logic is correct
dummy = {
    'Status': 'completed',
    'Age(clean)' : 20,
    'Height(clean)' : 201,
    'Initial Weight': 150,
    'Lowest Weight': 100,
    'Target Weight': 100,
    'BMI': 20,
    'Weight Loss(goal)': 10
}

find_invalid_user(dummy)

True

In [20]:
data["Invalid"] = data.apply(find_invalid_user,axis = 1)
data[data['Invalid'] == True].shape

(2619, 14)

In [21]:
data.loc[data['Invalid'] == True, 'Name']

Access Code
3GTN3S3B       허승준
6B0IG276       이지민
EMGRU2MO       장설윤
1ELG96TX       서성빈
U9AELHAT       배소정
FJSTM98I       정지현
Z6D4QC4N       양채솔
PYEYV5F4       양지은
N67TYB3D       권선정
L6HBLXR9       고지율
SDB0JD2T       전지안
W66XIBPR       손선이
Y2EQ6I1Y       신지율
C6SIE8AP       송세민
J9ANAYK8       류승연
YSQVED6O       조슬영
D76BFB92       문소은
0Y86CYOJ       박채민
DPTM3D32       한세빈
OZYW94EK       윤수정
KZ6G7E5B    한지후,지혁
V910BN81       서서주
QBC6XD9Y       고승혁
G1GXHMTO       윤채하
CGHFJ726       박채유
QEM9BICD       허채빈
KVFI18C8       이세희
KRBG0MSJ       이채연
X3OI48N7       장채정
U47J0UDD       오승이
             ...
MNRQXDP1       류소희
WDZ3XNIW       강소현
S003HTQ6       권서애
IAA7HTLB       홍설민
YHBQI04Y       조슬아
32FTVN5O       류지수
I6JTN98O       전채우
VSXE2X4U       백소윤
VJGAB80R       손소희
6NZCNHPW       홍설아
8QX37QQ7       전수애
UIO7DVMD       권슬윤
K5VE7VGA       문서빈
2QH14F3K       허승예
WJUMEIGK       한솔지
7P5DCZW5       정서훈
ZC0NT0TJ       이솔지
TSOR30GP       황채연
5URKM79N       허승연
PQ0WN8V7       권선정
SSYPVCPG       신지아
7SQUMY2F       양지안
IG6FCEAG       권세연
G944T1SR       서서애
9QHVMQPF       한서진
6FZ5OL4K      이 시민
A8Z5J765       백성원
118AFCQ9       최서원
VDE8FXV9       임세율
VWJ4NLZY       정선희
Name: Name, Length: 2619, dtype: object

We can send notification to the users who are indenfitied as entered invalid data.

### VIP Check

To find the VIP users we are going use the following rule.

1. Status == "completed" (paid user)
2. Weight Loss(goal), Weight Loss(current), BMI not NaN
3. Weight Loss(current) more than 10kg
4. BMI > 30
5. Weight Loss(Current) > Weight Loss(goal) (who met their diet goal)

In [22]:
def checkVIP(row):
    status = row['Status']
    weightLossGoal = row['Weight Loss(goal)']
    weightLossCurrent = row['Weight Loss(current)']
    bmi = row['BMI']
    if status != 'completed':
        return False
    if np.isnan(weightLossGoal) | np.isnan(weightLossCurrent) | np.isnan(bmi):
        return False
    if weightLossCurrent < 10:
        return False
    if bmi < 30:
        return False
    if weightLossCurrent < weightLossGoal:
        return False
    return True

In [23]:
dummy = {
    'Status': 'completed',
    'Weight Loss(goal)': 15,
    'Weight Loss(current)': 10,
    'BMI': 35
}
checkVIP(dummy)

False

In [24]:
data['VIP']=data.apply(checkVIP, axis = 1)

In [25]:
data.loc[data['VIP']==True, "Name"]

Access Code
3T1I8I8E    임솔지
PJYKU9OW    홍윤오
0EMTSGLJ    류선정
FBEAIFW0    서서원
8QQV2YDW    홍서율
99KOLRU8    고서연
IBOWZ9WZ    손서애
6EH2LGR5    문세영
QQLYGTWD    황수윤
4Z1WB3UZ    허지예
2YAKET8R    서승희
LDPPDM0M    윤지안
PKHJWII8    정선영
3B3WQA4A    홍슬비
SDY4VS0P    오채현
Name: Name, dtype: object

Those users could be VIP users and be targeted with promotions.

## Profitability Analysis

At the end of the profitability is the most important as business entity. We are going to analyze who are the most profittable demographics to find out:

1. Who are easier to acquire (Customer Acquisition Cost)
2. Who are the most profitable (Customer Lifetime Value)

### Paid, cancelled, refunded ratio

In [26]:
data["Status"].value_counts()

completed    5400
cancelled    4010
refunded      590
Name: Status, dtype: int64

### Paid, cancelled, refunded ratio by Gender and Age

First we are going to age group.

1. Under 17
2. 18 ~ 24
3. 25 ~ 35
4. 36 ~ 44
5. 45 ~ 54
6. Over 55

In [27]:
def cutAgeGroup(x):
    if x <= 17:
        return '00 ~ 17'
    elif 17 < x <= 24:
        return '18 ~ 24'
    elif 24 < x <= 35:
        return '25 ~ 35'
    elif 35 < x <= 44:
        return '36 ~ 44'
    elif 44 < x <= 54:
        return '45 ~ 54'
    elif 54 < x:
        return '55 ~ 99'
    else:
        return np.nan

In [28]:
data['Age(group)'] = data['Age(clean)'].apply(cutAgeGroup)

In [29]:
columns = ['Name', 'Age(clean)', 'Height(clean)', 'Initial Weight',
       'Lowest Weight', 'Target Weight', 'Status', 'Weight Loss(goal)',
       'Weight Loss(current)', 'BMI', 'Invalid', 'VIP', 'Age(group)',
       'Gender(clean)','Purchased At', 'Channel']
data = data[columns]

In [30]:
data.head()

,Name,Age(clean),Height(clean),Initial Weight,Lowest Weight,Target Weight,Status,Weight Loss(goal),Weight Loss(current),BMI,Invalid,VIP,Age(group),Gender(clean),Purchased At,Channel
Access Code,,,,,,,,,,,,,,,,
Y9RY2VSI,김승혜,25.0,172.0,66.9,65.8,55.000000,completed,11.900000,1.1,22.613575,False,False,25 ~ 35,female,2017-04-14 19:03:29.976,others
3GTN3S3B,허승준,26.0,176.0,70.0,NaN,65.000000,completed,5.000000,NaN,22.598140,True,False,25 ~ 35,male,2017-05-23 20:53:54.368,others
6B0IG276,이지민,23.0,171.0,98.0,NaN,91.140000,completed,6.860000,NaN,33.514586,True,False,18 ~ 24,female,2017-08-23 23:39:21.840,facebook
EMGRU2MO,장설윤,20.0,160.0,70.7,NaN,53.000000,completed,17.700000,NaN,27.617187,True,False,18 ~ 24,female,2017-08-28 20:18:22.824,naver
1ELG96TX,서성빈,28.0,165.0,55.5,NaN,51.615002,completed,3.884998,NaN,20.385675,True,False,25 ~ 35,female,2017-05-07 17:50:30.944,facebook

In [31]:
### Create dummy columns to make it easier to calculation

data = pd.merge(data,pd.get_dummies(data['Status']), left_index = True, right_index = True)
data['total'] = data['cancelled'] + data['completed'] + data['refunded']
data['conversion'] = data['completed']/data['total']
data.head()

,Name,Age(clean),Height(clean),Initial Weight,Lowest Weight,Target Weight,Status,Weight Loss(goal),Weight Loss(current),BMI,...,VIP,Age(group),Gender(clean),Purchased At,Channel,cancelled,completed,refunded,total,conversion
Access Code,,,,,,,,,,,,,,,,,,,,,
Y9RY2VSI,김승혜,25.0,172.0,66.9,65.8,55.000000,completed,11.900000,1.1,22.613575,...,False,25 ~ 35,female,2017-04-14 19:03:29.976,others,0,1,0,1,1.0
3GTN3S3B,허승준,26.0,176.0,70.0,NaN,65.000000,completed,5.000000,NaN,22.598140,...,False,25 ~ 35,male,2017-05-23 20:53:54.368,others,0,1,0,1,1.0
6B0IG276,이지민,23.0,171.0,98.0,NaN,91.140000,completed,6.860000,NaN,33.514586,...,False,18 ~ 24,female,2017-08-23 23:39:21.840,facebook,0,1,0,1,1.0
EMGRU2MO,장설윤,20.0,160.0,70.7,NaN,53.000000,completed,17.700000,NaN,27.617187,...,False,18 ~ 24,female,2017-08-28 20:18:22.824,naver,0,1,0,1,1.0
1ELG96TX,서성빈,28.0,165.0,55.5,NaN,51.615002,completed,3.884998,NaN,20.385675,...,False,25 ~ 35,female,2017-05-07 17:50:30.944,facebook,0,1,0,1,1.0

In [32]:
### Use pivot table for further analysis
pivoted = pd.pivot_table(data, index = ['Gender(clean)','Age(group)']\
               , values = ['cancelled','completed','refunded','total','conversion'],\
               aggfunc= {'cancelled':'sum','completed':'sum','refunded':'sum','total':'sum','conversion':'mean'})

In [33]:
columnOrder = ['cancelled','completed','refunded','total','conversion']
pivoted = pivoted.reindex(columnOrder, axis=1)
pivoted

                          cancelled  completed  refunded   total  conversion
Gender(clean) Age(group)
female        00 ~ 17          25.0       35.0       3.0    63.0    0.555556
              18 ~ 24        1637.0     1827.0     149.0  3613.0    0.505674
              25 ~ 35        1664.0     2288.0     271.0  4223.0    0.541795
              36 ~ 44         206.0      421.0      46.0   673.0    0.625557
              45 ~ 54          74.0      160.0      25.0   259.0    0.617761
              55 ~ 99           0.0        5.0       0.0     5.0    1.000000
male          00 ~ 17           3.0        1.0       0.0     4.0    0.250000
              18 ~ 24          80.0      100.0      11.0   191.0    0.523560
              25 ~ 35         235.0      404.0      57.0   696.0    0.580460
              36 ~ 44          21.0       72.0       9.0   102.0    0.705882
              45 ~ 54           9.0       13.0       3.0    25.0    0.520000
              55 ~ 99           0.0        1.0       0.0     1.0    1.000000

The result of the analysis is:
- women between 25~35 have most frequently paid for the service. Their conversion rate is also considerably high.
- women between 36~54 and men between 25~44 also have high conversion rate. However the total is lower compare to women 25~35 group. Which means the marketting strategy for those groups might not be optimal.

### Conversion Rate by time
Now we are going to see if there's difference in conversion ratio time or day. If there is we can focus more on those time frame.

In [34]:
data['Purchased At(hour)'] = data['Purchased At'].dt.hour
data['Purchased At(weekday)'] = data['Purchased At'].dt.weekday_name

In [35]:
pivotedHour = pd.pivot_table(data, index = 'Purchased At(hour)'\
               , values = ['cancelled','completed','refunded','total','conversion'],\
               aggfunc= {'cancelled':'sum','completed':'sum','refunded':'sum','total':'sum','conversion':'mean'})

In [36]:
pivotedHour = pivotedHour.reindex(columnOrder, axis = 1)

In [37]:
pivotedHour

                    cancelled  completed  refunded  total  conversion
Purchased At(hour)
0                       236.0      344.0        26  606.0    0.567657
1                       156.0      207.0        28  391.0    0.529412
2                        90.0       97.0         4  191.0    0.507853
3                        58.0       66.0         5  129.0    0.511628
4                        59.0       45.0         7  111.0    0.405405
5                        36.0       47.0         6   89.0    0.528090
6                        48.0       70.0         6  124.0    0.564516
7                        80.0      114.0        20  214.0    0.532710
8                       171.0      264.0        29  464.0    0.568966
9                       162.0      239.0        36  437.0    0.546911
10                      208.0      323.0        38  569.0    0.567663
11                      212.0      263.0        27  502.0    0.523904
12                      205.0      235.0        36  476.0    0.493697
13                      205.0      286.0        41  532.0    0.537594
14                      192.0      253.0        20  465.0    0.544086
15                      187.0      231.0        14  432.0    0.534722
16                      187.0      235.0        26  448.0    0.524554
17                      180.0      246.0        26  452.0    0.544248
18                      194.0      260.0        20  474.0    0.548523
19                      163.0      269.0        36  468.0    0.574786
20                      184.0      236.0        22  442.0    0.533937
21                      231.0      329.0        32  592.0    0.555743
22                      248.0      332.0        41  621.0    0.534622
23                      318.0      409.0        44  771.0    0.530480

There doesn't seem like any patterns with what time they purchased the service other than around midnight purchases spike up. It might be a good time to focus more on.

In [40]:
data['Purchased At(weekday)'] = data['Purchased At'].dt.weekday_name

In [41]:
dayOrder = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
pivotedWeekdays = pd.pivot_table(data, index = 'Purchased At(weekday)'\
               , values = ['cancelled','completed','refunded','total','conversion'],\
               aggfunc= {'cancelled':'sum','completed':'sum','refunded':'sum','total':'sum','conversion':'mean'})
pivotedWeekdays = pivotedWeekdays.reindex(columnOrder, axis = 1)
pivotedWeekdays = pivotedWeekdays.reindex(dayOrder)
pivotedWeekdays

                       cancelled  completed  refunded   total  conversion
Purchased At(weekday)
Monday                     691.0      863.0        93  1647.0    0.523983
Tuesday                    694.0      935.0       102  1731.0    0.540150
Wednesday                  679.0      953.0        90  1722.0    0.553426
Thursday                   616.0      813.0        88  1517.0    0.535926
Friday                     490.0      674.0        56  1220.0    0.552459
Saturday                   412.0      537.0        73  1022.0    0.525440
Sunday                     428.0      625.0        88  1141.0    0.547765

Again there don't seem to have any patterns. However, more people total number of purchase made Monday ~ Thursday then Friday ~ Sunday. Monday to Thursday might be a good time to do more targeted marketing.

### Channel

Next one is channel. Where are the gateways to the service?

In [42]:
pivotedChannel = pd.pivot_table(data, index = 'Channel'\
               , values = ['cancelled','completed','refunded','total','conversion'],\
               aggfunc= {'cancelled':'sum','completed':'sum','refunded':'sum','total':'sum','conversion':'mean'})
pivotedChannel = pivotedChannel.reindex(columnOrder, axis = 1)
pivotedChannel

           cancelled  completed  refunded   total  conversion
Channel
direct         119.0      169.0       9.0   297.0    0.569024
email           93.0      155.0      23.0   271.0    0.571956
facebook      2812.0     3654.0     414.0  6880.0    0.531105
google          42.0       66.0      12.0   120.0    0.550000
instagram       13.0       17.0       3.0    33.0    0.515152
naver          386.0      568.0      55.0  1009.0    0.562934
others         545.0      771.0      74.0  1390.0    0.554676

The result shows that facebook is the number one channel where users come from.

### Conversion Rate by Coach

This could be useful and very sensitive too as it shows the coaches performance directly. However it's important to know that who are doing well and who are not. If we can provide better training to underperformed one we can increase the performance or bench mark overperformed ones.

In [44]:
coach = pd.read_csv("data/diet/coach.csv", index_col="Access Code")
print(coach.shape)
coach.head()

(10000, 100)

,정은오 코치(VEV4PGJB),오승혁 코치(VENPKBP9),조소은 코치(D0WASBXN),고영재 코치(C91AVNGB),조수민 코치(OBCAO3W0),강채아 코치(WH2NIKCO),황다훈 코치(1I6IWURH),백슬은 코치(228BFB50),유채우 코치(IW53Y9AW),송지선 코치(WL0877P7),...,오초빈 코치(A3WOLAQM),서수정 코치(F36LORFC),정서율 코치(LX1G7EMD),고우재 코치(SKNL9Z4P),문한규 코치(OU1WVDGA),황세안 코치(3QUBQAVE),홍성은 코치(2I3QJQ5O),고성은 코치(34T7XPYR),백한율 코치(HPWAN8R0),안슬은 코치(QAVWJSZ1)
Access Code,,,,,,,,,,,,,,,,,,,,,
Y9RY2VSI,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3GTN3S3B,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6B0IG276,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
EMGRU2MO,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1ELG96TX,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
## Merge user and coach datasets
match = pd.merge(data[['Name','Status']],coach,how = 'inner', left_index = True, right_index = True)
match.head()

,Name,Status,정은오 코치(VEV4PGJB),오승혁 코치(VENPKBP9),조소은 코치(D0WASBXN),고영재 코치(C91AVNGB),조수민 코치(OBCAO3W0),강채아 코치(WH2NIKCO),황다훈 코치(1I6IWURH),백슬은 코치(228BFB50),...,오초빈 코치(A3WOLAQM),서수정 코치(F36LORFC),정서율 코치(LX1G7EMD),고우재 코치(SKNL9Z4P),문한규 코치(OU1WVDGA),황세안 코치(3QUBQAVE),홍성은 코치(2I3QJQ5O),고성은 코치(34T7XPYR),백한율 코치(HPWAN8R0),안슬은 코치(QAVWJSZ1)
Access Code,,,,,,,,,,,,,,,,,,,,,
Y9RY2VSI,김승혜,completed,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3GTN3S3B,허승준,completed,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6B0IG276,이지민,completed,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
EMGRU2MO,장설윤,completed,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1ELG96TX,서성빈,completed,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
coachOrder = match.columns[2:102]
matchPivoted = pd.pivot_table(data = match, index = 'Status', values = coachOrder, aggfunc = 'sum')

,강은우 코치(EJIHL7OE),강지희 코치(NOEP7X8B),강채아 코치(WH2NIKCO),고성은 코치(34T7XPYR),고수이 코치(NKHXTMRU),고영재 코치(C91AVNGB),고우재 코치(SKNL9Z4P),권소민 코치(OM3X0HPF),권슬영 코치(E3GD4106),권시윤 코치(4MEMXAVM),...,허슬지 코치(DWVG5IFL),허예찬 코치(2F23UZOK),허주원 코치(71T6JNK0),홍성은 코치(2I3QJQ5O),황다훈 코치(1I6IWURH),황설연 코치(RJEZWP8M),황세안 코치(3QUBQAVE),황소영 코치(91YZ8NY0),황시준 코치(M7EJJXFT),황재우 코치(YIFMV1GQ)
Status,,,,,,,,,,,,,,,,,,,,,
cancelled,122,15,9,24,6,22,82,25,42,112,...,43,53,101,73,113,27,48,5,16,7
completed,171,19,10,36,5,27,96,33,70,149,...,71,67,143,112,155,44,61,13,16,6
refunded,16,1,2,1,1,4,11,7,9,11,...,3,7,16,9,24,4,8,2,2,1

### Conversion / Cancellation rate

Finally conversion and cancellation rate. If a coach has high conversion rate, he or she is doing something well, if a coach has high cancellation rate, he or she is not doing so well. We will find the top performing ones and bottom performing ones, so that we can give right feedback. To be fair, who has less than 100 trainees, we will exclude from the result.

In [49]:
matchPivotedT = matchPivoted.T.reindex(coachOrder)

In [50]:
matchPivotedT['total'] = matchPivotedT['cancelled'] + matchPivotedT['completed'] +matchPivotedT['refunded']
matchPivotedT['conversion_rate'] = matchPivotedT['completed'] / matchPivotedT['total']
matchPivotedT['cancellation rate'] = (matchPivotedT['cancelled'] + matchPivotedT['refunded']) / matchPivotedT['total']
matchPivotedT

Status,cancelled,completed,refunded,total,conversion_rate,cancellation rate
정은오 코치(VEV4PGJB),18,23,3,44,0.522727,0.477273
오승혁 코치(VENPKBP9),14,44,9,67,0.656716,0.343284
조소은 코치(D0WASBXN),12,12,1,25,0.480000,0.520000
고영재 코치(C91AVNGB),22,27,4,53,0.509434,0.490566
조수민 코치(OBCAO3W0),49,46,8,103,0.446602,0.553398
강채아 코치(WH2NIKCO),9,10,2,21,0.476190,0.523810
황다훈 코치(1I6IWURH),113,155,24,292,0.530822,0.469178
백슬은 코치(228BFB50),13,10,2,25,0.400000,0.600000
유채우 코치(IW53Y9AW),4,2,0,6,0.333333,0.666667
송지선 코치(WL0877P7),7,18,1,26,0.692308,0.307692
허성원 코치(9124O1IH),43,76,7,126,0.603175,0.396825
최서율 코치(UVZALFE3),139,164,25,328,0.500000,0.500000
윤채윤 코치(U95EGIDM),52,65,9,126,0.515873,0.484127
허슬지 코치(DWVG5IFL),43,71,3,117,0.606838,0.393162
김슬민 코치(CWI0ABRI),120,171,18,309,0.553398,0.446602
정동인 코치(UQN9899Z),35,42,6,83,0.506024,0.493976
오시현 코치(7XM3L93F),10,14,0,24,0.583333,0.416667
김서은 코치(FOT4SH4F),28,34,5,67,0.507463,0.492537
문선아 코치(W5AZL2WT),0,2,0,2,1.000000,0.000000
김윤 채 코치(COZ180VA),115,137,15,267,0.513109,0.486891
양서율 코치(A2A98OA6),106,158,20,284,0.556338,0.443662
권슬영 코치(E3GD4106),42,70,9,121,0.578512,0.421488
박성현 코치(JKKV62JR),2,4,1,7,0.571429,0.428571
조설영 코치(U7L98DAO),48,78,6,132,0.590909,0.409091
백세원 코치(2Z1S5CYM),18,21,5,44,0.477273,0.522727
조지예 코치(ZA6B8Y4I),70,80,8,158,0.506329,0.493671
황설연 코치(RJEZWP8M),27,44,4,75,0.586667,0.413333
윤도원 코치(IOVT84RW),1,0,0,1,0.000000,1.000000
권소민 코치(OM3X0HPF),25,33,7,65,0.507692,0.492308
손성아 코치(DE2CQ3UB),0,0,0,0,NaN,NaN
...,...,...,...,...,...,...
오수진 코치(9ZKGH8EO),31,49,8,88,0.556818,0.443182
박서연 코치(5NXNMBCN),11,26,2,39,0.666667,0.333333
전지완 코치(P6QG38DS),6,8,1,15,0.533333,0.466667
백채훈 코치(89CN5XHA),8,13,4,25,0.520000,0.480000
백은성 코치(WWFBXFX6),23,29,3,55,0.527273,0.472727
문소윤 코치(2WDVTB40),93,130,16,239,0.543933,0.456067
한동예 코치(OD8IV4Q5),22,19,4,45,0.422222,0.577778
권시윤 코치(4MEMXAVM),112,149,11,272,0.547794,0.452206
조초연 코치(3JBE9GKO),55,56,5,116,0.482759,0.517241
조수아 코치(V5CSCQ45),8,8,1,17,0.470588,0.529412
강지희 코치(NOEP7X8B),15,19,1,35,0.542857,0.457143
문승혁 코치(6LHXIU5N),2,8,0,10,0.800000,0.200000
박성은 코치(4KO70A9P),35,60,9,104,0.576923,0.423077
문선희 코치(NTELEEEO),84,111,11,206,0.538835,0.461165
강은우 코치(EJIHL7OE),122,171,16,309,0.553398,0.446602
장승희 코치(85BWE3V1),27,28,3,58,0.482759,0.517241
고수이 코치(NKHXTMRU),6,5,1,12,0.416667,0.583333
전지현 코치(SQHB3H66),108,156,11,275,0.567273,0.432727
손수연 코치(Z5GQG6SI),12,22,1,35,0.628571,0.371429
신성빈 코치(7CIDQT0X),97,141,13,251,0.561753,0.438247
오초빈 코치(A3WOLAQM),124,150,27,301,0.498339,0.501661
서수정 코치(F36LORFC),48,53,2,103,0.514563,0.485437
정서율 코치(LX1G7EMD),91,125,15,231,0.541126,0.458874
고우재 코치(SKNL9Z4P),82,96,11,189,0.507937,0.492063
문한규 코치(OU1WVDGA),32,33,2,67,0.492537,0.507463
황세안 코치(3QUBQAVE),48,61,8,117,0.521368,0.478632
홍성은 코치(2I3QJQ5O),73,112,9,194,0.577320,0.422680
고성은 코치(34T7XPYR),24,36,1,61,0.590164,0.409836
백한율 코치(HPWAN8R0),0,1,0,1,1.000000,0.000000
안슬은 코치(QAVWJSZ1),3,5,1,9,0.555556,0.444444

In [51]:
matchPivotedT[matchPivotedT['total'] >= 100].sort_values(by ='conversion_rate', ascending=False).head()

Status,cancelled,completed,refunded,total,conversion_rate,cancellation rate
조우찬 코치(WWN531JQ),36,65,6,107,0.607477,0.392523
허슬지 코치(DWVG5IFL),43,71,3,117,0.606838,0.393162
허성원 코치(9124O1IH),43,76,7,126,0.603175,0.396825
조설영 코치(U7L98DAO),48,78,6,132,0.590909,0.409091
권슬영 코치(E3GD4106),42,70,9,121,0.578512,0.421488

In [52]:
matchPivotedT[matchPivotedT['total'] >= 100].sort_values(by ='cancellation rate', ascending=False).head()

Status,cancelled,completed,refunded,total,conversion_rate,cancellation rate
조수민 코치(OBCAO3W0),49,46,8,103,0.446602,0.553398
박도영 코치(I4KVQ5G0),77,70,6,153,0.457516,0.542484
오동완 코치(0O48DQCH),55,56,7,118,0.474576,0.525424
조초연 코치(3JBE9GKO),55,56,5,116,0.482759,0.517241
오초빈 코치(A3WOLAQM),124,150,27,301,0.498339,0.501661

Now we know how well they are performing to give the right feedback.